/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***************MY CSS******************/
@font-face {
  font-family: viga;
  src: url(fonts/viga.otf);
}

body {
  background: url(back2.jpg) no-repeat center center fixed;
  background-size: cover;
}

#bodywrapper {
	padding: 1em 0;
  max-width: 100%;
  background-color: rgba(255,25,0,.5);
}

h1 {
  margin-bottom: .4em;
  font-family: viga;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  color: greenyellow;
}

h2 {
  margin: .4em 0;
  font-family: viga;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  color: black;
}


#desc {
  font-size: 1.2em;
  padding: 1em 1.5em 1.5em 1.5em;
  background-color: rgba(0,0,0,.5);
  color: white;
  font-family: sans-serif;
  line-height: 1.5em;
  overflow: auto;
  
}

#pitch {
  text-align: center;
  font-size: 1.8em;
  margin-top: -.7em;
  margin-bottom: -.7em;
  padding: 1.5em;
  color: snow;
  font-family: viga;
  line-height: 1em;
  overflow: auto;
  background-color: rgba(0, 0, 120,.5);
}

#pitch .button {
  font-size: 1em;
  border: 7px outset white;
  font-size: 1em;
	color: greenyellow;
  padding: 1em;
  text-decoration: none;
  margin: 1em;
  background-color: rgba(0, 0, 120,.5);
  display: inline-block;
}


#info {
  font-size: 1.2em;
  padding: 1.5em;
  background-color: rgba(0,0,0,.5);
  color: white;
  font-family: sans-serif;
  text-align: center;
  line-height: 1.5em;
  border-radius-top: 1.4em;
  overflow: auto;
}

#info .button {
  border: 1px solid white;
  color: floralwhite;
  padding: .4em .7em;
  text-decoration: none;
  margin-right: 1em;
  margin-left: 1em;
  margin-top: 1em;
  display: inline-block;
}


#schedule {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  padding: 1.5em;
  background-color: rgba(0,0,0,.5);
  color: white;
  font-family: sans-serif;
  font-size: 1em;
  text-align: center;
  overflow: auto;
}

table {
  width: 100%;
  font-size: .9em;
}

td {
  padding: 1em;
  border: 1px white solid;
  
}

th {
  font-weight: bold;
  line-height: 1.3em;
}

.time th{
  padding-bottom: 1em;
  font-weight: normal;
}

p {
  padding: .5em 0;
}

a {
  font-family: monospace;
  font-size: 1.3em;
  color: cornsilk;
  text-decoration:  none;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

footer {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.hide {
  display: none;
}

.underline {
  text-decoration: underline;
}

#credit {
  font-family: monospace;
  background-color: rgb(25,25,25);
  color: white;
  margin-top: 1em;
  padding: 1em 2em 1.2em 1em;
}

@media (min-width: 37.5em){
	h1 {
		font-size: 4em;
	}
	
	#pitch .button {
		border: 7px outset white;
		color: greenyellow;
		padding: 1em;
		text-decoration: none;
		margin: 1em;
		background-color: rgba(0, 0, 120,.5);
		display: inline-block;
	}
	
	#bodywrapper {
		max-width: 50em;
		margin: 1.5em auto;
		padding: 1.5em;
		background-color: rgba(255,25,0,.5);
		border-radius: 2em;
	}
	
	#desc, #info, #credit{
		border-radius: 1.4em;
	}
	
	#schedule{
		border-radius: 2em;
	}
  
    
	
}